.cases {

	&--overlay {
		position: relative;
		
		&:before {
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			height: 50%;
			background: $grey;
			content: '';
			z-index: -1;
		}
	}

	&__item {
		background: no-repeat center center $black;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		color: $white;
		padding: 3rem;
		border-radius: 2.5rem;
		overflow: hidden;

		@include overlay(
			$height: 50%,
			$opacity: .8
		);

		@include above (sm) {
			min-height: 65rem;
			width: calc(50% - 3rem);
			margin: 1.5rem;
		}

		&:hover {

		}

		&--large {
			@include overlay(
				$height: 50%,
				$opacity: .8
			);

			@include above (sm) {
				min-height: 55rem;
				margin: 1.5rem;
				width: 100%;
			}
		}
	}

	&__reference {
		@include border();
		align-self: flex-start;
		margin: 1.5rem;
		padding: 3rem;
		border-radius: 2.5rem;
		width: calc(50% - 3rem);

		@include above (sm) {
			font-size: 2.4rem;
		}
	}

	&__rating {
		margin-top: 3rem;

		.fas {
			margin-left: .3rem;
		}
	}

	&__wrap {
		z-index: 10;
		position: relative;
		padding: 0rem 3rem;
	}

	&__header {
		z-index: 10;
		position: relative;
	}

	&__title {
		color: $white;

		&--meta {
			
		}
	}

	&__link {
		align-self: flex-end;
		margin-bottom: .5rem;
	}
}