.client-results {

	&__item {
		border-radius: 2.5rem;
		@include border();
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	&__img {
		flex: 2.5%;

		img {
			vertical-align: middle;
			background: $grey;
			border-radius: 50%;
			padding: .5rem;
		}
	}

	&__title {
		margin: 0;
		flex: 33.3%;
		font-family: $font-headings;

		@include above (sm) {
			margin-left: 1.5rem;
		}
	}

	&__btns {
		font-size: 1.4rem;
		flex: 33.3%;
		font-family: $font-headings;
	}

	&__btn {
		margin: .5rem;
		padding: .8rem 1.5rem;
		border-radius: .5rem;
	}

	&__text {
		margin: 0;
		flex: 33.3%;
		font-family: $font-headings;
		font-size: 1.6rem;
	}

	&__result {
		font-size: 1.4rem;
		font-family: $font-headings;
		color: $green;
		display: flex;
		align-items: center;

		svg {
			margin-left: .5rem;
		}

		@include above (sm) {
			margin-right: 1.5rem;
		}
	}
}