.contact {

	&--img {
		position: relative;

		img {
			border-radius: 2.5rem;
		}

		&:before {
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			height: 50%;
			background: $grey;
			content: '';
			z-index: -1;
		}
	}
}