.employee {

	&--contact {
		position: relative;

		@include above (sm) {
			top: -15rem;
		}
	}
		
	&__item {
		margin-top: 2rem;
		margin-bottom: 2rem;

		img {
			border-radius: 2.5rem;
		} 
	}

	&__position, &__link {
		font-size: 1.6rem;
	}

	&__position {
		color: $yellow;
		margin-top: 1.5rem;
	}

	&__link {
		color: $black;
	}
}