.footer {
	padding: 6rem 1.5rem;
	position: relative;

	@include above (sm) {
		padding: 5.555555555555555vw 0;
	}

	&__column {
		font-size: 14px;

		@include below (sm) {
			width: 100%;
		}

		a {
			color: $white;
			display: inline-block;
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&--social {

		}
	}

	&__social {

		&-link {

			i:before {
				display: inline-block;
				width: 3.5rem;
				height: 3.5rem;
				text-align: center;
				line-height: 2.5;
				border-radius: 50%;
			}

			&--fb {

				i:before {
					background: #4267B3;
				}
			}

			&--ig {

				i:before {
					background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
				}
			}

			&--li {

				i:before {
					background: #0e76a8;
				}
			}
		}
	}

	&__title {
		color: $white;

		@include above (sm) {
			margin-top: 0;
		}
	}
}
