.header {
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;

	@include above (sm) {
		position: absolute;
		top: 0;
		width: 100%;
	}

	&__container {
		position: relative;
	}

	&__logo {
		display: block;
		float: left;
		display: flex;
		flex-direction: column;
		float: left;
		background-position: center center;
    	background-repeat: no-repeat;
    	background-size: contain;
		width: 19rem;
		height: auto;
		z-index: 100000;

		.head, .flask,
		.flask-2, .flask-bg {
			opacity: 0;
			transition: all ease-in .3s 0s;
		}

		.flask-bg, .head, 
		.flask {
			fill: $yellow;
		}

		.flask-bg {
			transform: translateX(134px);
		}

		.flask-2 { 
			transform-origin: 515px 87px;
		}

		.flask {
			 transform-origin: 515px 87px;
			 transform: scale(1.2) translateZ(0);
		}

		.letter {
			transform: translateX(-340px) translateZ(0);
			transition: all ease-in .3s;
		}

		&.is-active {

			.head, .flask, 
			.flask-2, .flask-bg {
				opacity: 1;
				transition: all ease-in .3s .3s;
			}

			.flask-2, .flask {
				animation: rotate 1.6s $easeElastic infinite;
			}

			.letter {
				transform: translateX(0) translateZ(0);
			}
		}
	}
}