/********************LAYOUTS********************/

/* Base Styles */


/* WYSIWYGs */
.wysiwygs {

  &__title {
    margin-bottom: 3rem;

    @include above (sm) {
      margin-bottom: 5rem;
    }
  }

  &__col {

    p {
      color: #878CA0;
      line-height: 1.8;
    }
	
    @include above (sm) {

      &.first {

        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.last {

      p:last-child {
       margin-bottom: 0;
      }
    }
  }
}

.bg {

  &--none {

    .page__title {    

      span {
        color: $yellow;
      }
    }
  }
  
  &--black, &--green {
    color: $white;

    .page__title {
      color: $white;      

      span {
        color: $yellow;
      }
    }
  }

  &--red, &--yellow {
    color: $white;

    .page__title {
      color: $white;      

      span {
        color: $blue;
      }
    }
  }
} 

.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

  &--column {
    flex-direction: column;
  }

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}

//standard paddings change accordion to design
.padding {

  &--top {
    padding-top: 5rem;
  }
  
  &--bottom {
    padding-bottom: 5rem;
  }

  &--both {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 10rem;
    }

    &--bottom {
      padding-bottom: 10rem;
    }

    &--both {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}