.nav {
	position: fixed;
    bottom: 5rem;
    z-index: 100;
    background: white;
    border-radius: 2.5rem;
    padding: 0rem 3rem;
    filter: drop-shadow(0px 1px 3px rgba($black, 0.2));
    left: 50%;
    transform: translateX(-50%);

	&__menu {
	    list-style: none;
	    position: absolute;
	    z-index: 100;
	    width: 100%;
	    top: 0;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			position: relative;
			width: auto;
			top: 0;
			float: right;
			display: flex !important;
			align-items: center;
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1rem;
		display: inline-block;

		@include above (sm) {
			padding: 1rem 1.5rem;
		}

		&.is-active > a {
			// background: $black;
			// color: $white;
		}
	}


	&__link {
		font-family: $font-headings;
		color: $black;
		font-size: 1.4rem;

		&.is-active {
			// background: $black;
			// color: $white;
		}

		.fas {
			background: $grey;
    		padding: 2rem;
    		border-radius: 50%;
		}
	}

	&__btn {
		padding: 0;
	}

	&__btn a {
		padding: 1.5rem 3rem;
		border-radius: 5rem;
		background: $black;
		color: $white;
		text-transform: uppercase;
		font-family: $font-headings;
		display: block;
    	overflow: hidden;
	}

	&__dropdown {
		display: none;
		padding: 0;
		position: absolute;
		top: 100%;
		background: red;

		&.is-visible {
			display: block;
		}

		li {
			padding: 0;
		}

		a {
			padding: 0.5rem 1rem;
			white-space: nowrap;

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {

		@include below (sm) {
			position: fixed;
			z-index: 78888;
			top: 0;
			right: 0;
			height: calc(90vh - 0px);
			width: 100%;
			transform: translateY(-100%) translateZ(0);
			transition: all .6s cubic-bezier(.77,0,.175,1);
			background: $white;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateY(0) translateZ(0);
			}

			@at-root {		

				body.is-fixed {
					overflow: hidden;
					position: fixed;
					width: 100%;
					height: 100%;

					&:before {
						background: rgba($blue, .8);
					}
				}
			}
		}
	}


	&-toggle {
		display: block;
		position: relative;
		z-index:  88888;
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@include above (sm) {
			display: none;
		}

		&__label {
			color: $white;
			vertical-align: middle;
			padding-right: .3rem;
			font-family: $font-headings;
			text-transform: uppercase;
			font-size: 1.2rem;
			position: relative;
			top: -.1rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 3rem;
			height: .1rem;
			background: transparent;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: .1rem;
				background: $white;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.3rem;
			}

			&::after {
				top: -.3rem;
			}
			
			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}