.page {  

	&__hero {
		position: relative;
		padding-top: 20rem;
		padding-bottom: 20rem;	
		overflow: hidden;

		@include above (sm) {
			padding-top: 25rem;
			padding-bottom: 20rem;	
		}

		&--intersect {
			padding-bottom: calc(20rem + 10rem);

			@include above (sm) {
				padding-bottom: calc(25rem + 10rem);
			}	
		}

		#lion {
			position: absolute;
			top: -15rem;
			z-index: 0;

			@include below (sm) {
				width: 100%;
				height: 40rem;
			}
		}
	}

	&__container {
		position: relative;
	}

	&__title {
		position: relative;
		z-index: 10;

		span {
			display: block;
		}
	}

	&__img-container {
		overflow: hidden;
		position: relative;
		top: -15rem;
	}

	&__img {
		padding-top: 0;
		z-index: 10;
		background: no-repeat center center;
		background-size: cover;
		border-radius: 2.5rem;

		@include above (sm) {
			min-height: 55rem;
		}

		@include above (xl) {
			min-height: 65rem;
		}

		&--wrapper {
			overflow: hidden;
		}
	}
}
