.single {

	&__meta {
		padding: 3rem 0rem;

		&-wrap {
			align-self: center;
		}
	}

	&__avatar {
		border-radius: 50%;
		display: inline-block;
		overflow: hidden;
		max-width: 6rem;
		max-height: 6rem;
		border: 1px solid $yellow;
		margin-right: 1.5rem;
	}

	&__name {
		margin: 0;
	}

	&__position {
		font-size: 1.4rem;
	}
}