.single-case {


	&__meta {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 3rem 0rem;

		&-item {
			width: 100%;
			color: $blue;
			font-size: 1.4rem;

			a {
				color: $blue;
				transition: all ease .3s;

				&:hover {
					color: $yellow;
				}
			}

			@include above (sm) {
				width: 50%;
			}

			@include above (md) {
				width: 25%;
			}
		}

		&-desc {
			color: $black;
			font-size: 1.2rem;
		}
	}

	&__result {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}