.video {
	position: relative;
	overflow: hidden;

	&__wrap {
		height: 80vh;
		position: relative;
    	width: calc(100% - 10rem);
    	border-radius: 2.5rem;
    	overflow: hidden;
	}

	&__video {
		max-width: 100%;
		backface-visibility: hidden;
	    position: absolute;
	    z-index: -100;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;

		&--full-length {
			display: none;
		}
	}

	&__controls {

	}

	&__play {
		border-radius: 50%;
		background: $black;
		padding: 3.5rem;
		line-height: 1;

		svg {
			height: 2rem;
			width: auto;
			fill: $white;
		}
	}
}