.btn {
	display: inline-block;
	padding: 1.5rem 3rem;
	border-radius: 5rem;
	text-transform: uppercase;
	font-family: $font-headings;
	font-size: 1.6rem;

	&--wide {
		padding: 1.5rem 5rem;
	}

	&--tag {
		// padding: 1rem 2rem;
		font-size: 1.6rem;
		font-family: $font-body;
		text-transform: initial;
		margin: 1rem;
		border-radius: 2.5rem;
		padding: .5rem 1.5rem;
	}

	&--black {
		background: $black;
		color: $white;
	}
}

