//gravity forms
.gform {

	&_wrapper {
		padding-top: 5rem;
		margin: 0 !important;
		max-width: none !important;

		#gform_1 {

			@include above (sm) {
				display: flex;
			}
		}
	}

	&_body {
		font-size: 20px;
		width: 100% !important;
	}

	&_fields {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;

		@include above (sm) {
			display: flex;
		}
	}

	&_title {

	}

	// Submit
	&_button {
		margin: 0 !important;
		display: inline-block;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		border: none;
		padding: 1.8rem 5rem!important; //add important for ie 11 fix

		@extend .btn, .btn--black;

		&:hover {

		}
	}

	// Submit wrapper
	&_footer {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include above (sm) {
			width: calc(25% - 5rem);
			margin-left: 5rem;
		}
	}
}

/**
 * Form fields
 **/

.gfield {
	margin: 1.5rem;
	margin-left: 0;
	padding-right: 0 !important;

	@include above (sm) {
		flex: 1;
		width: 25%;
	}

	// Labels
	&_label {
		display: none !important;
	}

	&_required {
		color: red;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea, select {
		display: block;
		padding: .5rem;
		line-height: 1 !important;
		background: transparent;
		border: none;
		-webkit-appearance: none;
		transition: all 0.3s ease;
		padding: 1.5rem .5rem!important;
		text-indent: 1.25em;
		color: $color-body;
		background: $white;
		width: 100%;
		border-radius: 5rem;

		&:focus, &:active, &:visited {
			outline: none;
		}
	}

	select {
		background: $white;
		padding: 1.8rem .5rem!important;
		padding-right: 5rem!important;

		@include above (lg) {
			padding-right: 8rem!important;
		}
	}

	.ginput_container_select {
		position: relative;
		overflow: hidden;

		&:before {
			background: transparent;
			width: 5rem;
			height: 100%;
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-size: 1.6rem;
			top: 0;
			right: 0;
			font-weight: 900;
			font-family: 'Font Awesome 5 Free';
			content: '\f107';
			opacity: 1;
			pointer-events: none;

			@include above (lg) {
				width: 8rem;
			}
		}
	}
}


/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}

input::placeholder {
	color: $color-body;			
}

textarea::placeholder {
	color: $color-body;			
}