.pagination {
	padding-top: 3rem;

	@include above (sm) {
		padding-top: 5rem;
	}

	&__nav {

		a {
			background: $blue;
			padding: .6rem 1.3rem;
			border-radius: 50%;
			color: $white;
		}
	}

	&__next {
		margin-left: 1.5rem;
	}

	&__previous {
		margin-right: 1.5rem;
	}

	.page-numbers {

		&.current {
			color: $blue;
		}
	}
}