@keyframes rotate {

  from {
     transform: rotate(0deg) translateZ(0);
  }

  to {
    transform: rotate(360deg) translateZ(0);
  }
}

@keyframes marquee-text {

    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(-100%, 0, 0) translateZ(0);
    }
}
