/********************GLOBAL********************/

* {
  /* (http://paulirish.com/2012/box-sizing-border-box-ftw/) */
  box-sizing: border-box;

  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  font-family: $font-body;
  color: $color-body;
}

body {
  background-color: $white;
  overflow-x: hidden;
  line-height: 1.8; 
  margin: 0;
  font-size: $base-font-size;

  @include above (sm) {
    font-size: $base-font-size-desktop;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: -10vh;
    width: 100%;
    height: 100vh;
    background: rgba($blue, 0);
    left: 0;
    top: 0;
    z-index: 20;
    pointer-events: none;
    transition: all cubic-bezier(.77,0,.175,1) 1.2s;
  }
}

/* Links */
a, .a {
  text-decoration: none;
  outline: none;
}

/* Figures and Blockquotes */
figcaption {
  font-style: italic;
  text-align: center;
}


blockquote {
  quotes: "\201C""\201D";
  position: relative;

  &:before {
    content: open-quote;
    font-size: 4rem;
    position: absolute;
    top: 2px;
  }

  p {
    display: inline;
  }
}

cite {
  display: block;
  font-style: normal;
}

/* Paragraphs and Lists
   ========================================================================== */

p, ul, ol {
  margin: 0 0 1.5rem;
}

ul, ol {
  ul, ol {
    margin-bottom: 0;
  }
}


/* Default Image Styles */
img {
  height: auto;
  max-width: 100%;
}

/* WordPress Image Styles */
[class^="wp-image-"], [class*=" wp-image-"], .wp-caption {
  display: block;
  height: auto;
  max-width: 100%;

  .wp-caption & {
    padding: 0;
    border: 0;
  }

  .wp-caption-text {
    font-size: 75%;
    font-style: italic;
    margin: 0;
    padding: 16px 16px 12px;
  }
}

/* Containers */
.wrap, .contain, .constrain {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  word-wrap: break-word;
}

.wrap {
  max-width: 1600px;
}

/*
 * HELPER CLASSES
 */

.hpad {
  padding-left: 3rem;
  padding-right: 3rem;

  @include above (sm) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.alignleft {
  margin: 1rem auto;

  @include above (sm) {
    margin: 0 1rem 1rem 0;
    float: left;
  }
}

.aligncenter {
  margin: 1rem auto;
  clear: both;
}

.alignright {
  margin: 1rem auto;

  @include above (sm) {
    margin: 0 0 1rem 1rem;
    float: right;
  }
}


//states
.is-loading {
  cursor: progress;
  pointer-events: none;
}

.is-hidden {
  display: none;
}


#modal {
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  background: $white;
  z-index: 1000;
  transform: translateY(100%);
  transition: all .6s cubic-bezier(.77,0,.175,1);
  height: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;

  &.is-visible {
    transform: translateY(0%);
    height: calc(100% - 20rem);
  }
}

#overlay {
  transition: all ease .3s;

    &.is-visible {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background: rgba($black, .8);
    }
}