/********************MIXINS*********************/

@mixin clearfix() {

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin overlay($color: $black, $height: 100%, $opacity: 1) {
	position: relative;

	&:before {
		content: '';
		background: linear-gradient(to top, $color 0%, transparent 100%);
		width: 100%;
		height: $height;
		left: 0;
		bottom: 0;
		position: absolute;
		z-index: 0;
		opacity: $opacity;
	}
}

@mixin border ($width: .1rem, $color: $border-collie) {
	border: $width $color solid;
}
