h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $font-headings;
  line-height: 1.5;
  font-weight: 500;
}

h1, .h1 {
  font-size: 2.8rem;

  @include above (sm) {
    font-size: 5.2rem;
  }
}


h2, .h2 {
  font-size: 2.4rem;

  @include above (sm) {
    font-size: 3.8rem;
  }
}

h3, .h3 {
  font-size: 2.2rem;

  @include above (sm) {
    font-size: 2.4rem;
  }
}

h4, .h4 {
  font-size: 1.8rem;

  @include above (sm) {
    font-size: 2rem;
  }
}

h5, .h5 {
  font-size: 1.8rem;
}

h6, .h6 {
  font-size: 1.6rem;
}